{% if user.is_authenticated %}
  {% if not user.university.first.uni_name %}
    <div class="alert alert-primary text-center" role="alert">
      <div class="container">
         To activate <strong>Univerity Board</strong>, update <a href="{% url 'my_university' %}" class="alert-link">My University</a>!
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">
            <ion-icon name="close"></ion-icon>
           </span>
         </button>
       </div>
    </div>
  {% endif %}
{% endif %}
