{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Alumate{% endblock %}</title>
    {% include "base/css.html" %}
    {% block stylesheet %}{% endblock %}
  </head>
  <!-- <body> -->
  <body class="landing-page sidebar-collapse">

    {% include "base/navbar.html" %}
      <div class="wrapper">
        <div class="page-header page-header-small">
          <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg6.jpg');">
          </div>
          <div class="content-center">
            <div class="container">
              <h1 class="title">{% block headertitle %}{% endblock %}</h1>

            </div>
          </div>
        </div>
        {% include "base/alert.html" %}
        <div class="section section-about-us">

          <div class="container">

            <ol class="breadcrumb my-4">
              {% block breadcrumb %}
              {% endblock %}
            </ol>
            {% block content %}
            {% endblock %}
          </div>
          <div class="push"></div>
        </div>
      </div>

    {% block javascript %}{% endblock %}
    {% include "base/js.html" %}

  </body>
</html>
