{% load static %}
<!-- Swiper -->
{% if qs %}


  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for uni in qs %}
      <div class="swiper-slide" style="background-image:url({{ uni.user.profile.first.get_img_url }})"></div>

      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="{% static 'js/swiper.min.js' %}"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      // direction: 'vertical',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      autoplay: {
         delay: 2500,
         disableOnInteraction: false,
       },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>

{% else %}
  <h4 class="description">Invite friends?</h4>
{% endif %}
