{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">My Profile</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="col my-5">
          <img src="{{ profile.get_img_url }}" class="rounded img-raised" style="width:200px"/>
          {% if profile.img %}
            <form class="form-group" action="{% url 'delete_img' %}" method="post">
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Delete image">
            </form>
          {% endif %}
        </div>
      <form method="post" novalidate enctype='multipart/form-data'>
        {% csrf_token %}
        {% include 'my_profiles/includes/form-profile.html' %}
        <button type="submit" class="btn btn-success">Save changes</button>
      </form>
    </div>
  </div>

{% endblock %}
